.body--gray {
  background-color: $body-background-1;
}

.body--plum {
  background-color: $body-background-2;
}

.body--green {
  background-color: $body-background-3;
}

.body--coral {
  background-color: $body-background-4;
}
