.countdown {
  margin: 0 auto;
  margin-bottom: 30px;
}

.countdown h2 {
  margin: 0;
  text-align: center;
}

.countdown__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown__box {
  font-family: sans-serif;
  color: $white;
  font-weight: 100;
  font-size: 40px;
  height: 118px;
  width: inherit;
  margin-bottom: 10px;
}

.countdown__item {
  width: 65px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 3px;
  background-color: $gray-light-2;
  display: inline-block;
  text-align: center;
}

.countdown__item:not(:last-child) {
  margin-right: 10px;
}

.countdown__input {
  width: 80%;
  height: 65px;

  font-size: 24px;
  font-weight: 500;
  line-height: 60px;
  color: $white;
  text-align: center;

  border: none;
  border-radius: 3px;
  background: $gray-dark-1;
}

input {
  appearance: textfield; //removes arrows in input
}

input::-webkit-inner-spin-button, //removes arrows in input
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.countdown__input:hover,
.countdown__input:active,
.countdown__input:focus {
  border: solid 1px $white;
  transition: all 0.2s ease;
}

.countdown__label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

.countdown__btn {
  @include button;
  width: 300px;
  margin: 5px;
}

.countdown__message {
  display: none;
}

.countdown__message-text {
  font-size: 24px;
  width: 250px;
  height: 90px;
  border-radius: 5px;
  background-color: $gray-basic;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  width: 400px;
  height: 208px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $gray-light-1;
  border-radius: 5px;
  border: solid 2px $gray-basic;
}

.hidden {
  display: none;
}
