@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: $title;
}

@mixin blockToCenter {
  display: block;
  margin: 0 auto;
}

@mixin input {
  font-family: "Fira Sans", "Tahoma", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(20 / 17);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba($text, 0.5);
  border: 2px solid $basic-decor;
  border-radius: 80px;
}

@mixin button {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: calc(20 / 17);
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: $gradient;
  border-radius: 80px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $gradient-hover;
  }

  &:active {
    background: $button-click, $gradient;
  }
}

@mixin button-close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    right: 10px;
    content: "";
    height: 22px;
    width: 2px;
    background: $gradient;
    transform: rotate(45deg);

    @media (max-width: $mobile-width) {
      top: -10px;
      right: 0;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 10px;
    content: "";
    height: 22px;
    width: 2px;
    background: $gradient;
    transform: rotate(-45deg);

    @media (max-width: $mobile-width) {
      top: -10px;
      right: 0;
    }
  }

  &:hover::after,
  &:focus::after,
  &:hover::before,
  &:focus::before {
    background: $accent-decor-3;
    opacity: 0.5;
  }

  &:active::after,
  &:active::before {
    background: $gradient;
    opacity: 0.5;
  }
}

@mixin modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;

  @media (max-width: $mobile-width) {
    height: auto;
  }
}

@mixin modal-form {
  width: 480px;
  background-color: $white;
  border-radius: 8px;
  position: fixed;
  top: 15vh;
  left: calc(50vw - 240px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 3px 12px rgba($black, 0.1);

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 320px;
    max-width: 767px;
    min-height: 768px;
    border-radius: 0;
    top: 0;
    left: 0;
  }
}
