@mixin input {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Fira Sans", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: calc(26 / 15);
  color: #484848;

  border-radius: 4px;
}

@mixin button {
  display: block;
  height: 34px;
  text-align: center;
  border-radius: 6px;
  border: solid 2px rgb(109, 109, 109);
  cursor: pointer;

  &:hover,
  &:focus {
    border: solid 2px white;
    transition: all 0.2s ease;
  }

  &:active {
    background-color: rgb(201, 201, 201);
    transition: all 0.2s ease;
  }
}
